<h1 class="title text-center py-5">Productos</h1>






    <div class="container ">
        <div class=" row">
            {{#each productos}}
            
                <div class="product ">
                    <div class="image">
                        <img  src="{{this.photo}} " alt="{{this.title}}">
                    </div>
                    <div class="namePrice">
                        <h3 class="card-title">{{this.category}}</h3>
                        <p>${{this.price}}</p>
                         
                    </div>
                    <p class="title">{{this.title}}</p>
                    <div class="stars">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="bay">


                        <a href="/product/{{this.title}}" >Ver mas</a>
                    </div>
                </div>
           
            {{/each}}

        </div>
    </div>
    <div class="container">
        
    <form action="/product/table">
     <div class="form-group col-md-3 mb-3 buscar">
        Buscar: <input type="text" class="form-control" name="query" value="{{query}}"> <input type="submit" class="btn btn-success" value="Buscar">
     </div>
    </form>
    

<table class="table">
    <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each result.docs}}
        <tr>
            <td><img width="30" src="{{this.photo}}"></td>
            <th scope="row">{{this.title}}</th>
            <td>{{this.category}}</td>
            <td></td>
            <td>
                <div class="td">
                
                <a href="/product/delete/{{product._id}}" class="btn btn-danger">Delete</a>
                <a href="/product/{{this.title}}" class="btn btn-primary">Ver mas</a>
                 </div>
            </td>
            
        </tr>
        {{/each}}
    </tbody>
</table>

    </div>
  
    



<style>
    :root{
        --bodyBack: #ffeaed;
        --textColor: #1b2741;
        --starColor: #f67034;
        --sectionBack: #f7f6f9;
    }

  
    body{
        background-color: var(--bodyBack);
        
       

    }


    .row{
        column-gap: 40px;
    }
    
    h1{
        font-size: 4em;
        text-transform: uppercase;
        color: var(--textColor);
    }

    .product{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .product{
        position: relative;
        background-color: var(--sectionBack);
        width: 350px;
        height: 100%;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .3); 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 20px 40px;
        border-radius: 10px;
        transition: .3s;

    }

    .product:hover{
        transform: translate(-15px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    }

    .image{
        width: 100%;
        height: 60%;
        display: grid;
        place-items: center;

    }

    .image img{
        width: 240px;
    }

    .namePrice{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
     .namePrice h3{
        font-size: 2em;
        text-transform: capitalize;
        color: var(--textColor);
        position: relative;
        
        bottom: 10px;
     }

     .namePrice p{
        font-size: 1.5em;
        color: var(--starColor);
     }

     .product .title{
        font-size: 18px;
        line-height: 25px;
        margin: 10px;
        position: relative;
        
        bottom: 20px;
     }

     .stars {
        font-size: 1,3em;
        color: var(--starColor);
        position: absolute;
        bottom: 20px;

     }
     .bay {
        position: absolute;
        bottom: 15px;
        right: 20px;
        text-decoration: none;
     }
    .bay a{
        padding: 10px 20px;
        border-radius: 7px;
        border: none;
        background-color: var(--textColor);
        color: var(--sectionBack);
        font-size: 18px;
        text-transform: capitalize;
        text-decoration: none;
        cursor: pointer;
        transition: .5s;
    }

    .bay a:hover{
        transform: scale(1.1);
    }

    .table{
        margin-top: 20px;
    }
    .td a{
       
        margin: 5px;
    }

    .buscar{
        display: flex;
        gap: 10px;

        
    }

   
</style