<h1>Productos Table</h1>

<form action="/product/table">
    Buscar: <input type="text" name="query" value="{{query}}"> <input  type="submit" class="btn btn-success" value="Buscar" >
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Photo</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each result.docs}}
        <tr>
            <th scope="row">{{this.title}}</th>
            <td><img width="30" src="{{this.photo}}"></td>
            <td>{{this.category}}</td>
            <td><a href="/product/delete/{{product._id}}" class="btn btn-danger">Delete</a></td>
            <td> <a href="/product/{{this.title}}" class="btn btn-primary">Ver mas</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>